Repository kolya-movchan/deep-hire: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: update readme file
  CLAUDE.md
Due: prettier --write

style: upgrade app design
  package.json
  src/components/Sidebar.tsx
  src/index.css
  src/pages/cv-analysis-of-candidate.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

style: upgrade UI globally on the whole APP with Claude Code agent
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/pages/candidates.tsx
  src/pages/cv-analyses.tsx
Due: eslint --fix, prettier --write

feat: add colors to cv analysis, change project name
  CLAUDE.md
  amplify/.config/project-config.json
  amplify/backend/api/aiflex/cli-inputs.json
  amplify/backend/api/aiflex/parameters.json
  amplify/backend/backend-config.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  package-lock.json
  src/components/Sidebar.tsx
  src/pages/cv-analyses.tsx
  src/pages/cv-analysis-of-candidate.tsx
Due: eslint --fix, prettier --write

style: update sidebar width
  src/components/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: remove useless data from table
  src/pages/cv-analyses.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: upgrade design for hero
  src/pages/cv-analysis-of-candidate.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

style: upgrade vacancies
  src/index.css
  src/pages/Login.tsx
  src/pages/candidates.tsx
  src/pages/cv-analyses.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

style: upgrade sidebar
  src/components/Sidebar.tsx
Due: eslint --fix, prettier --write

style: resolve logout
  src/components/Sidebar.tsx
  src/pages/profile.tsx
Due: eslint --fix, prettier --write

style: upgrade style
  src/pages/cv-analysis-of-candidate.tsx
Due: eslint --fix, prettier --write

style: update colors
  src/pages/cv-analysis-of-candidate.tsx
Due: eslint --fix, prettier --write

feat: add vacancy url fetch
  src/api/graphql/queries.ts
  src/pages/Register.tsx
  src/pages/cv-analysis-of-candidate.tsx
  src/pages/profile.tsx
  src/types/cv-analysis.ts
Due: eslint --fix, prettier --write

fix: update content
  src/pages/cv-analysis-of-candidate.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: add title to table
  src/api/graphql/queries.ts
  src/pages/cv-analyses.tsx
  src/pages/cv-analysis-of-candidate.tsx
Due: eslint --fix, prettier --write

feat: add job position url to the table
  src/api/graphql/queries.ts
  src/pages/cv-analyses.tsx
  src/pages/cv-analysis-of-candidate.tsx
Due: eslint --fix, prettier --write

style: fix colors
  src/pages/candidates.tsx
  src/pages/cv-analysis-of-candidate.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: remive candidates
  src/api/graphql/queries.ts
  src/components/Sidebar.tsx
  src/pages/candidates.tsx
  src/pages/cv-analyses.tsx
  src/pages/profile.tsx
  src/routes/app-routes.tsx
Due: eslint --fix, prettier --write

feat: display match score for all candidates
  src/api/graphql/client.ts
  src/api/graphql/queries.ts
  src/pages/cv-analyses.tsx
  src/store/candidate-analyses-slice.ts
  src/store/candidate-details-slice.ts
  src/store/index.ts
Due: eslint --fix, prettier --write

feat: add sorting
  src/pages/cv-analyses.tsx
Due: eslint --fix, prettier --write

refactor: remove unused imports
  src/store/index.ts
Due: eslint --fix, prettier --write

refactor: remove unused imports
  package.json
Due: prettier --write

fix: resolve linter
  src/pages/Register.tsx
  src/pages/profile.tsx
Due: eslint --fix, prettier --write

fix: resolve build errors
  src/components/Sidebar.tsx
  src/hooks/use-cv-analysis.ts
  src/main.tsx
  src/mocks/cv-analysis-data.ts
  src/mocks/data/password-requirements.ts
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/pages/cv-analyses.tsx
  src/pages/cv-analysis-of-candidate.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/pages/vacancies.tsx
  src/routes/app-routes.tsx
  src/store/candidate-analyses-slice.ts
  src/store/credits-slice.ts
  src/store/store.ts
  src/utils/config-amplify.ts
  tsconfig.app.tsbuildinfo
Due: eslint --fix, prettier --write

chore: complete build
  src/store/candidate-analyses-slice.ts
  src/store/candidate-details-slice.ts
  tsconfig.app.tsbuildinfo
Due: eslint --fix, prettier --write

fix: name nullable error
  src/pages/cv-analyses.tsx
Due: eslint --fix, prettier --write

ci: add cd
  .github/workflows/deploy.yml
Due: none

fix: make config public
  .gitignore
  config.json
  tsconfig.app.tsbuildinfo
Due: prettier --write

ci: test
  README.md
Due: prettier --write

fix: define region
  .github/workflows/deploy.yml
Due: none

ci: use common env
  .github/workflows/deploy.yml
Due: none

ci: add envs
  .github/workflows/deploy.yml
Due: none

ci: use proper env name
  .github/workflows/deploy.yml
Due: none

fix: update title and favicon
  index.html
Due: none

ci: add CF cache invalidation
  .github/workflows/deploy.yml
Due: none

fix: update favicon
  .github/workflows/deploy.yml
  public/logo.svg
  public/vite.svg
Due: none

fix: update favicon path
  index.html
Due: none

fix: remove dynamic routing due to cf not supported
  src/pages/cv-analyses.tsx
  src/pages/cv-analysis-of-candidate.tsx
  src/routes/app-routes.tsx
  src/store/cv-slice.ts
  src/store/index.ts
Due: eslint --fix, prettier --write

fix: resolve ts errors
  src/hooks/use-cv-analysis.ts
  src/pages/cv-analysis-of-candidate.tsx
  src/store/cv-slice.ts
  tsconfig.app.tsbuildinfo
Due: eslint --fix, prettier --write

chore: update changes
  tsconfig.app.tsbuildinfo
Due: none

Path conditions:
  eslint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
  prettier --write: ((((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.json)) or (any of: *.css)) or (any of: *.md)
